<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>the CHEF workstation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link href="/css/peakycake.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:8080/peakycake">Peaky Cakes Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" class="js-about" th:text="${#strings.toUpperCase(name)}">about</a></li>
                <li><a href="#" class="js-list-products">product</a></li>
                <li><a href="#" class="js-list-orders">orders</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container" style="min-height: 500px">

    <div id="caption-area">
        <div class="jumbotron">
            <h1 th:text="'Welcome ' + ${#strings.toUpperCase(name)}"/>
            <h3>an administrator for all orders</h3>
        </div>
        <div>
            <h1 th:text="${#strings.toUpperCase(name)} + ' workstation'"/>
            <p>This is the chef workstation </p>
            <p>The chef can manage products (create new products, modify existing products and delete obsolete products).
                The chef can also manage all the orders. These actions include the creation of orders, the evolution of orders and the
                delete of orders. In other words the Chef has supreme power on all the objects of this application.</p>
        </div>
    </div>

    <div id="error-area"></div>

    <div id="products-area">
        <div>
            <h1 th:text="${#strings.toUpperCase(name)} + ' workstation'"/>
            <p class="lead">This is the product area, the place where you can list the product catalog
                and select a product to create, modify or destroy a product.</p>
        </div>

        <div id="products" class="panel-body">

        </div>
    </div>

    <div id="orders-area">
        <div>
            <h1 th:text="${#strings.toUpperCase(name)} + ' workstation'"/>
            <p class="lead">This is the orders area, the place where you can manage the orders.</p>
            <p>When you are finished treating an order, you can make it evolve, or</p>
            <p>if you are not happy with one of them, you can delete it by selecting its button.</p>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Create a new Order</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <form id="create-order-form" class="">
                        <input id="create-order-form-shop" type="hidden" th:value="${name}"/>

                        <div class="form-group row">
                            <label for="create-order-form-product" class="col-sm-2 col-form-label"> your cakes </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="create-order-form-product" placeholder="product"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="create-order-form-quantity" class="col-sm-2 col-form-label"> quantity </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" value="1" id="create-order-form-quantity"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="create-order-form-message" class="col-sm-2 col-form-label"> message </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="create-order-form-message" placeholder="message"
                                       th:value="'order of ' + ${name}"/>
                            </div>
                        </div>

                        <input id="create-order-form-createdOn" type="hidden" th:value="${#temporals.format(today, 'yyyy-MM-dd')}"/>

                        <div class="form-group row">
                            <label for="create-order-form-dueOn" class="col-sm-2 col-form-label"> wished execution date </label>
                            <div class="col-sm-10">
                                <input class="form-control" type="date" th:value="${#temporals.format(tomorrow, 'yyyy-MM-dd')}"
                                       id="create-order-form-dueOn"/>
                            </div>
                        </div>

                        <button id="bth-create" type="submit" class="btn btn-default js-create-order">create</button>

                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">List or search for orders</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in">
                    <form id="search-orders-form" class="form-horizontal">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" aria-label="Help">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                                <button id="bth-search" type="submit" class="btn btn-default js-list-orders">search</button>
                            </div>
                            <input id="search-orders-form-shopname" class="form-control" th:value="all"/>
                        </div>
                    </form>

                    <div id="orders" class="table-responsive">
                        <table id="orders-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>shop</th>
                                <th>product</th>
                                <th>quantity</th>
                                <th>message</th>
                                <th>createdOn</th>
                                <th>dueOn</th>
                                <th>status</th>
                            </tr>
                            </thead>
                            <tbody id="orders-table-body">
                            <!-- product orders go here -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/chef.js"></script>

</body>
</html>